<!doctype html>
<html>
    <head>
        <title>Configuration Service Admin</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="styles.css" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Configuration Service</a>
        </nav>
        <div id="content" class="container-fluid">
            <div class="row">
                <div class="col-lg-3 caas-sidebar-left">
                    <dl class="row" v-for="app in applications">
                        <dd class="col-sm-3" v-on:click="load(app)">{{app.application}}</dd>
                        <dt class="col-sm-9">
                            <p>Version: {{app.version}}</p>
                            <p>Environment: {{app.environment}}</p>
                        </dd>
                    </dl>
                </div>
                <div class="col-lg-6" v-if="appConfig != null">
                    <!-- display the current environment settings -->
                    <h3>{{appConfig.application}}</h3>
                    <h5>Version: {{appConfig.version}} | Environment: {{appConfig.environment}}</h5>

                    <div v-if="appConfig.properties">
                        <h6>Properties:</h6>
                        <dl class="row" v-for="(val, key) in appConfig.properties">
                            <dd class="col-sm-3">{{key}}</dd>
                            <dt class="col-sm-9">{{val}}</dt>
                        </dl>
                    </div>
                    <div v-if="appConfig.documents">
                        <h6>Documents:</h6>
                        <dl class="row" v-for="(val) in appConfig.documents">
                            <dd class="col-sm-3">{{val.key}}</dd>
                            <dt class="col-sm-9">{{val.type}}</dt>
                        </dl>
                    </div>
                </div>
                <div class="col-lg-3 caas-sidebar-right" v-if="appConfig != null && appConfig.parents.length > 0">
                    <h5>Parents: </h5>

                    <dl class="row" v-for="app in appConfig.parents">
                        <dd class="col-sm-3" v-on:click="load(app)">{{app.application}}</dd>
                        <dt class="col-sm-9">
                            <p>Version: {{app.version}}</p>
                            <p>Environment: {{app.environment}}</p>
                        </dd>
                    </dl>

                </div>
            </div>
        </div>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/vue"></script>
        <script src="app.js"></script>
    </body>
</html>