<!doctype html>
<html>
    <head>
        <title>Configuration Service Admin</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="styles.css" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Configuration Service</a>
        </nav>
        <div id="content" class="container-fluid">
            <div class="row">
                <!-- the applications list -->
                <div class="col-lg-2 caas-sidebar-left caas-apps-panel">
                    <div class="caas-coordinates-container">
                        <h6>Applications</h6>
                        <hr />
                        <dl class="row" v-for="app in applications">
                            <dd class="col-sm-3 caas-actionable" v-on:click="load(app)">{{app.application}}</dd>
                            <dt class="col-sm-9">
                                <p>V: {{app.version}}</p>
                                <p>E: {{app.environment}}</p>
                            </dd>
                        </dl>
                    </div>
                </div>

                <div class="col-lg-10 caas-main-panel" v-if="appConfig != null">
                    <!-- the main panel -->
                    <h3>{{appConfig.application}}</h3>
                    <div class="row">
                        <div class="col-lg-9">
                            <!-- display the current environment settings -->
                            <h5>Version: {{appConfig.version}} | Environment: {{appConfig.environment}}</h5>
                            <hr />

                            <!-- the properties container -->
                            <div v-if="appConfig.properties != null">
                                <h6>Properties:</h6>
                                <div class="caas-properties-continer">
                                    <dl class="row">
                                        <template v-for="(val, key) in appConfig.properties">
                                            <dd class="col-sm-3">{{key}}</dd>
                                            <dt class="col-sm-9">{{val}}</dt>
                                        </template>
                                    </dl>
                                </div>
                            </div>

                            <!-- the documents container -->
                            <div v-if="appConfig.documents != null && appConfig.documents.length > 0">
                                <h6>Documents:</h6>
                                <div class="caas-documents-container">
                                    <dl class="row">
                                        <template v-for="(val) in appConfig.documents">
                                            <dd class="col-sm-9 caas-actionable">
                                                <a v-bind:href="buildDocumentLink(val)" target="_blank"> {{val.key}}</a>
                                            </dd>
                                            <dt class="col-sm-3">{{val.type}}</dt>
                                        </template>
                                    </dl>
                                </div>
                            </div>
                        </div>


                        <!-- the parents panel -->
                        <div class="col-lg-3 caas-sidebar-right" v-if="appConfig != null && appConfig.parents.length > 0">
                            <h6>Parents: </h6>
                            <div class="caas-coordinates-container">
                                <dl class="row">
                                    <template v-for="app in appConfig.parents">
                                        <dd class="col-sm-3 caas-actionable" v-on:click="load(app)">{{app.application}}</dd>
                                        <dt class="col-sm-9">
                                            <p>V: {{app.version}}</p>
                                            <p>E: {{app.environment}}</p>
                                        </dd>
                                    </template>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/vue"></script>
        <script src="app.js"></script>
    </body>
</html>